target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log
*.class

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
.metadata/

# VS Code
.vscode/

# Ignore the Pro module completely in the OSS repo
/prism-pro/
